.ls {
    &-9n { letter-spacing: -9px; }
    &-8n { letter-spacing: -8px; }
    &-7n { letter-spacing: -7px; }
    &-6n { letter-spacing: -6px; }
    &-5n { letter-spacing: -5px; }
    &-4n { letter-spacing: -4px; }
    &-3n { letter-spacing: -3px; }
    &-2n { letter-spacing: -2px; }
    &-1n { letter-spacing: -1px; }
    &-1 { letter-spacing: 1px; }
    &-2 { letter-spacing: 2px; }
    &-3 { letter-spacing: 3px; }
    &-4 { letter-spacing: 4px; }
    &-5 { letter-spacing: 5px; }
    &-6 { letter-spacing: 6px; }
    &-7 { letter-spacing: 7px; }
    &-8 { letter-spacing: 8px; }
    &-9 { letter-spacing: 9px; }
}

.top {
    &-10 { top: 10vw; }
    &-20 { top: 20vw; }
    &-30 { top: 30vw; }
    &-40 { top: 40vw; }
    &-50 { top: 50vw; }
    &-60 { top: 60vw; }
    &-70 { top: 70vw; }
    &-80 { top: 80vw; }
    &-90 { top: 90vw; }
    &-100 { top: 100vw; }
}

.vw {
    &-10 { height: 10vw; }
    &-20 { height: 20vw; }
    &-30 { height: 30vw; }
    &-40 { height: 40vw; }
    &-50 { height: 50vw; }
    &-60 { height: 60vw; }
    &-70 { height: 70vw; }
    &-80 { height: 80vw; }
    &-90 { height: 90vw; }
    &-100 { height: 100vw; }
}

.vh {
    &-10 { height: 10vh; }
    &-20 { height: 20vh; }
    &-30 { height: 30vh; }
    &-40 { height: 40vh; }
    &-50 { height: 50vh; }
    &-60 { height: 60vh; }
    &-70 { height: 70vh; }
    &-80 { height: 80vh; }
    &-90 { height: 90vh; }
    &-100 { height: 100vh; }
}

.lc {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
    &-1 { -webkit-line-clamp: 1; }
    &-2 { -webkit-line-clamp: 2; }
    &-3 { -webkit-line-clamp: 3; }
    &-4 { -webkit-line-clamp: 4; }
    &-5 { -webkit-line-clamp: 5; }
    &-6 { -webkit-line-clamp: 6; }
    &-7 { -webkit-line-clamp: 7; }
    &-8 { -webkit-line-clamp: 8; }
    &-9 { -webkit-line-clamp: 9; }
}

.bg {
    &-cover { background-size: cover !important; }
}

.of {   
    &-cover { object-fit: cover; }
    &-contain { object-fit: contain; }
    &-fill { object-fit: fill; }
    &-scale-down { object-fit: scale-down; }
    &-unset { object-fit: unset; }
    &-initial { object-fit: initial; }
    &-inherit { object-fit: inherit; }
    &-none { object-fit: none; }
}

.op {   
    &-top { object-position: top; }
    &-bottom { object-position: bottom; }
    &-center { object-position: center; }
    &-left { object-position: left; }
    &-right { object-position: right; }
    &-initial { object-position: initial; }
    &-inherit { object-position: inherit; }
    &-unset { object-position: unset; }
}

.op {   
    &-1 { opacity: 0.1; }
    &-2 { opacity: 0.2; }
    &-3 { opacity: 0.3; }
    &-4 { opacity: 0.4; }
    &-5 { opacity: 0.5; }
    &-6 { opacity: 0.6; }
    &-7 { opacity: 0.7; }
    &-8 { opacity: 0.8; }
    &-9 { opacity: 0.9; }
}

.ol {   
    &-1 { background-color: rgba(0,0,0, 0.1); }
    &-2 { background-color: rgba(0,0,0, 0.2); }
    &-3 { background-color: rgba(0,0,0, 0.3); }
    &-4 { background-color: rgba(0,0,0, 0.4); }
    &-5 { background-color: rgba(0,0,0, 0.5); }
    &-6 { background-color: rgba(0,0,0, 0.6); }
    &-7 { background-color: rgba(0,0,0, 0.7); }
    &-8 { background-color: rgba(0,0,0, 0.8); }
    &-9 { background-color: rgba(0,0,0, 0.9); }
}

.olw {   
    &-1 { background-color: rgba(255,255,255, 0.1); }
    &-2 { background-color: rgba(255,255,255, 0.2); }
    &-3 { background-color: rgba(255,255,255, 0.3); }
    &-4 { background-color: rgba(255,255,255, 0.4); }
    &-5 { background-color: rgba(255,255,255, 0.5); }
    &-6 { background-color: rgba(255,255,255, 0.6); }
    &-7 { background-color: rgba(255,255,255, 0.7); }
    &-8 { background-color: rgba(255,255,255, 0.8); }
    &-9 { background-color: rgba(255,255,255, 0.9); }
}

.br {
    &-none {
        &-top { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
        &-bottom { border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important; }
        &-start { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }
        &-end { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
    }
}

.br {
    &-top { border-top-left-radius: 0.5rem !important; border-top-right-radius: 0.5rem !important; }
    &-bottom { border-bottom-left-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important; }
    &-start { 
        border-top-left-radius: 0.5rem !important; border-bottom-left-radius: 0.5rem !important; 
        &-pill { border-top-left-radius: 50rem !important; border-bottom-left-radius: 50rem !important; }
    }
    &-end { 
        border-top-right-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important; 
        &-pill { border-top-right-radius: 50rem !important; border-bottom-right-radius: 50rem !important; }
    }
    &-tl { border-top-left-radius: 0.5rem !important; }
    &-tr { border-top-right-radius: 0.5rem !important; }
    &-bl { border-bottom-left-radius: 0.5rem !important; }
    &-br { border-bottom-right-radius: 0.5rem !important; }
}

.twd {
    &-tbrl {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    &-tblr {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    &-slr {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform: rotate(180deg);
    }
    &-srl {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

// .sub-box:hover{
// 	background: #ffffff;
// 	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
// 	border-radius: 12px;
// 	will-change: transform;
// 	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
// }

.lh {
    &-s { line-height: .75; }
    &-m { line-height: 1; }
}

.bg-none {
    background-color: transparent !important;
}

.ts {
    /* offset-x | offset-y | blur-radius | color */ 
    &-outline { text-shadow: 1px 1px 1px #00000050; }
    &-s { text-shadow: 1px 1px 2px darkgrey; }
    &-m { text-shadow: 1px 1px 2px #525252; }
    &-d { text-shadow: 1px 1px 2px #292929; }
    &-1 { text-shadow: 1px 1px 2px black; }
    &-2 { text-shadow: 1px 1px 4px black; }
    &-icon { text-shadow: 0px 0px 1px black; }
}
.bs {
    &-s { box-shadow: 0 0 2px rgba(0,0,0,.15); }
    &-m { box-shadow: 0 0 2px rgba(0,0,0,.35); }
    &-l { box-shadow: 0 0 2px rgba(0,0,0,.55); }
}

.width {
    &-fc { width: fit-content; }
}

.text-justify {
    text-align: justify; 
    text-justify: inter-word;
}

.text-inherit { 
    color: inherit;
}

.td {
    &-none {
        text-decoration: none;
    }
    &-underline {
        text-decoration: underline;
    }
}

.focus-none:focus,
.focus-none:focus-visible {
    box-shadow: none;
}

.bs {
    &-none {
        box-shadow: none;
    }
}

.social-icons {
    color: #6c757d;
}

.instagram:hover {
    color: #833AB4;
}

.facebook:hover {
    color: #4267B2;
}

.whatsapp:hover {
    color: #128C7E;
}

.twitter:hover {
    color: #1DA1F2;
}

.youtube:hover {
    color: #FF0000;
}

.btn-glass {
    &-10 { background-color: #ffffff10; }
    &-20 { background-color: #ffffff20; }
    &-30 { background-color: #ffffff30; }
    &-40 { background-color: #ffffff40; }
    &-50 { background-color: #ffffff50; }
    &-60 { background-color: #ffffff60; }
    &-70 { background-color: #ffffff70; }
    &-80 { background-color: #ffffff80; }
    &-90 { background-color: #ffffff90; }
    &-99 { background-color: #ffffff99; }
}

.subscript {
    vertical-align: sub;
}

.superscript {
    vertical-align: super;
}

.hover-shadow {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0.5rem 1rem #00000003 !important;
}

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem #00000026 !important;
}

.svg-triangle {
    background-color: #6b63ff38;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.svg-bubbles {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='1200' height='1200' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%236b63ff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-cover-fixed {
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.border-25 {
    &-top {   border-top: 25px solid;   }
    &-end {   border-right: 25px solid;   }
    &-start {   border-left: 25px solid;   }
    &-bottom {   border-bottom: 25px solid;   }
}

.border-1 {
    &-top {   border-top: 1px solid;   }
    &-end {   border-right: 1px solid;   }
    &-start {   border-left: 1px solid;   }
    &-bottom {   border-bottom: 1px solid;   }
}

.border-2 {
    &-top {   border-top: 2px solid;   }
    &-end {   border-right: 2px solid;   }
    &-start {   border-left: 2px solid;   }
    &-bottom {   border-bottom: 2px solid;   }
}

@media (min-width: 576px) {
    .border-sm-none {
        border: none;
    }
}

@media (min-width: 768px) {
    .border-md-none {
        border: none;
    }
}

@media (min-width: 992px) {
    .border-lg-none {
        border: none;
    }
}

@media (min-width: 1200px) {
    .border-xl-none {
        border: none;
    }
}

@media (min-width: 1400px) {
    .border-xxl-none {
        border: none;
    }
}


.bg-wave {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-swril {
    background-color: #ee5522;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-rombus {
    background-color: #FFA549;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(300,960,480)'%3E%3Cstop offset='0' stop-color='%23FFA549'/%3E%3Cstop offset='1' stop-color='%23FF5522'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='556' height='463.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.19'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-rays {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='50%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='40.3%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FF5522'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='63.4%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FF5522'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.31'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-bricks {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='164' height='164' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.67'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.67'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.fs {
    &-s { font-size: 8px; }
    &-m { font-size: 10px; }
    &-l { font-size: 12px; }
    &-7 { font-size: 2rem; }
}

.h {
    &-vh-20 { height: 20vh; }
    &-vh-25 { height: 25vh; }
    &-vh-30 { height: 30vh; }
    &-vh-35 { height: 35vh; }
    &-vh-40 { height: 40vh; }
    &-vh-50 { height: 50vh; }
    &-vh-65 { height: 65vh; }
    &-vh-75 { height: 75vh; }
    &-vh-100 { height: 100vh; }
    &-25p { height: 25px; }
    &-30p { height: 30px; }
    &-35p { height: 35px; }
    &-40p { height: 40px; }
    &-42p { height: 42px; }
    &-45p { height: 45px; }
    &-50p { height: 50px; }
    &-60p { height: 60px; }
    &-75p { height: 75px; }
    &-80p { height: 80px; }
    &-90p { height: 90px; }
    &-100p { height: 100px; }
    &-110 { height: 110px; }
    &-120 { height: 120px; }
    &-130 { height: 130px; }
    &-140 { height: 140px; }
    &-150 { height: 150px; }
    &-200 { height: 200px; }
    &-300 { height: 300px; }
    &-400 { height: 400px; }
    &-500 { height: 500px; }
    &-600 { height: 600px; }
    &-700 { height: 700px; }
    &-800 { height: 800px; }
    &-fc {
        height: fit-content;
    }
    &-auto {
        height: auto;
    }
    &-min {
        &-100 {
            min-height: 100px;
        }
        &-200 {
            min-height: 200px;
        }
        &-300 {
            min-height: 300px;
        }
        &-400 {
            min-height: 400px;
        }
    }
    &-max {
        &-100 {
            max-height: 100px;
        }
        &-200 {
            max-height: 200px;
        }
        &-300 {
            max-height: 300px;
        }
        &-400 {
            max-height: 400px;
        }
    }
}

.w {
    &-20 { width: 20vw; }
    &-30 { width: 30vw; }
    &-40 { width: 40vw; }
    &-50 { width: 50vw; }
    &-60 { width: 60vw; }
    &-70 { width: 70vw; }
    &-80 { width: 80vw; }
    &-90 { width: 90vw; }
    &-vw-25 { width: 25vw; }
    &-vw-50 { width: 50vw; }
    &-vw-75 { width: 75vw; }
    &-vw-80 { width: 80vw; }
    &-vw-85 { width: 85vw; }
    &-vw-100 { width: 100vw; }
    &-10p { width: 10px; }
    &-15p { width: 15px; }
    &-18p { width: 18px; }
    &-20p { width: 20px; }
    &-25p { width: 25px; }
    &-32p { width: 32px; }
    &-35p { width: 35px; }
    &-40p { width: 40px; }
    &-50p { width: 50px; }
    &-60p { width: 60px; }
    &-70p { width: 70px; }
    &-75p { width: 75px; }
    &-80p { width: 80px; }
    &-90p { width: 90px; }
    &-100p { width: 100px; }
    &-110 { width: 110px; }
    &-120 { width: 120px; }
    &-130 { width: 130px; }
    &-140 { width: 140px; }
    &-150 { width: 150px; }
    &-200 { width: 200px; }
    &-300 { width: 300px; }
    &-400 { width: 400px; }
    &-fc { width: fit-content; }
    &-auto {
        width: auto;
    }
    &-min {
        &-50vw {
            min-width: 50vw;
        }
        &-80 {
            min-width: 80px;
        }
        &-100 {
            min-width: 100px;
        }
        &-200 {
            min-width: 200px;
        }
        &-300 {
            min-width: 300px;
        }
        &-350 {
            min-width: 350px;
        }
        &-400 {
            min-width: 400px;
        }
    }
    &-max {
        &-50vw {
            max-width: 50vw;
        }
        &-100 {
            max-width: 100px;
        }
        &-200 {
            max-width: 200px;
        }
        &-300 {
            max-width: 300px;
        }
        &-400 {
            max-width: 400px;
        }
        &-500 {
            max-width: 500px;
        }
    }
}

.wh-mm {
    &-10 {
        width: 10px;
        height: 10px;
        min-width: 10px;
        min-height: 10px;
        max-width: 10px;
        max-height: 10px;
    }
    &-15 {
        width: 15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
        max-width: 15px;
        max-height: 15px;
    }
    &-20 {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
    }
    &-25 {
        width: 25px;
        height: 25px;
    }
    &-35 {
        width: 35px;
        height: 35px;
    }
    &-40 {
        width: 40px;
        height: 40px;
    }
    &-45 {
        width: 45px;
        height: 45px;
    }
    &-50 {
        width: 50px;
        height: 50px;
    }
    &-60 {
        width: 60px;
        height: 60px;
    }
    &-75 {
        width: 75px;
        height: 75px;
    }
    &-100 {
        width: 100px;
        height: 100px;
    }
    &-150 {
        width: 150px;
        height: 150px;
    }
    &-200 {
        width: 200px;
        height: 200px;
    }
    &-250 {
        width: 250px;
        height: 250px;
    }
    &-300 {
        width: 300px;
        height: 300px;
    }
    &-400 {
        width: 400px;
        height: 400px;
    }
    &-fc {
        width: fit-content;
        height: fit-content;
    }
    &-auto {
        width: auto;
        height: auto;
    }
    &-min {
        &-100 {
            min-width: 100px;
            min-height: 100px;
        }
        &-200 {
            min-width: 200px;
            min-height: 200px;
        }
        &-300 {
            min-width: 300px;
            min-height: 300px;
        }
        &-400 {
            min-width: 400px;
            min-height: 400px;
        }
    }
    &-max {
        &-100 {
            max-width: 100px;
            max-height: 100px;
        }
        &-200 {
            max-width: 200px;
            max-height: 200px;
        }
        &-300 {
            max-width: 300px;
            max-height: 300px;
        }
        &-400 {
            max-width: 400px;
            max-height: 400px;
        }
    }
}

.wh {
    &-10 {
        width: 10px;
        height: 10px;
    }
    &-20 {
        width: 20px;
        height: 20px;
    }
    &-25 {
        width: 25px;
        height: 25px;
    }
    &-30 {
        width: 30px;
        height: 30px;
    }
    &-35 {
        width: 35px;
        height: 35px;
    }
    &-40 {
        width: 40px;
        height: 40px;
    }
    &-45 {
        width: 45px;
        height: 45px;
    }
    &-50 {
        width: 50px;
        height: 50px;
    }
    &-60 {
        width: 60px;
        height: 60px;
    }
    &-70 {
        width: 70px;
        height: 70px;
    }
    &-75 {
        width: 75px;
        height: 75px;
    }
    &-80 {
        width: 80px;
        height: 80px;
    }
    &-90 {
        width: 90px;
        height: 90px;
    }
    &-100 {
        width: 100px;
        height: 100px;
    }
    &-150 {
        width: 150px;
        height: 150px;
    }
    &-200 {
        width: 200px;
        height: 200px;
    }
    &-250 {
        width: 250px;
        height: 250px;
    }
    &-300 {
        width: 300px;
        height: 300px;
    }
    &-400 {
        width: 400px;
        height: 400px;
    }
    &-fc {
        width: fit-content;
        height: fit-content;
    }
    &-auto {
        width: auto;
        height: auto;
    }
    &-min {
        &-10 {
            min-width: 10px;
            min-height: 10px;
        }
        &-20 {
            min-width: 20px;
            min-height: 20px;
        }
        &-25 {
            min-width: 25px;
            min-height: 25px;
        }
        &-30 {
            min-width: 30px;
            min-height: 30px;
        }
        &-40 {
            min-width: 40px;
            min-height: 40px;
        }
        &-50 {
            min-width: 50px;
            min-height: 50px;
        }
        &-100 {
            min-width: 100px;
            min-height: 100px;
        }
        &-200 {
            min-width: 200px;
            min-height: 200px;
        }
        &-300 {
            min-width: 300px;
            min-height: 300px;
        }
        &-400 {
            min-width: 400px;
            min-height: 400px;
        }
    }
    &-max {
        &-100 {
            max-width: 100px;
            max-height: 100px;
        }
        &-200 {
            max-width: 200px;
            max-height: 200px;
        }
        &-300 {
            max-width: 300px;
            max-height: 300px;
        }
        &-400 {
            max-width: 400px;
            max-height: 400px;
        }
    }
}

// It works up to 375px from 0px
@media (max-width: 375px) {
    .w {
        &-min {
            &-300 {
                min-width: 100vw;
            }
            &-350 {
                min-width: 100vw;
            }
            &-400 {
                min-width: 100vw;
            }
            &-500 {
                min-width: 100vw
            }
        }
        &-max {
            &-300 {
                max-width: 100vw;
            }
            &-350 {
                max-width: 100vw;
            }
            &-400 {
                max-width: 100vw;
            }
            &-500 {
                max-width: 100vw
            }
        }
    }
}

// It works after 576px till next defined
@media (min-width: 576px) {
    .w-sm {
        &-fc {
            width: fit-content;
        }
        &-auto {
            width: auto;
        }
        &-min {
            &-50vw {
                min-width: 50vw;
            }
            &-100 {
                min-width: 100px;
            }
            &-200 {
                min-width: 200px;
            }
            &-300 {
                min-width: 300px;
            }
            &-400 {
                min-width: 400px;
            }
        }
        &-max {
            &-50vw {
                max-width: 50vw;
            }
            &-100 {
                max-width: 100px;
            }
            &-200 {
                max-width: 200px;
            }
            &-300 {
                max-width: 300px;
            }
            &-400 {
                max-width: 400px;
            }
            &-500 {
                max-width: 500px;
            }
        }
    }
    .wh {
        &-md {
            &-50 {
                width: 50px;
                height: 50px;
            }
            &-100 {
                width: 100px;
                height: 100px;
            }
            &-150 {
                width: 150px;
                height: 150px;
            }
            &-200 {
                width: 200px;
                height: 200px;
            }
            &-250 {
                width: 250px;
                height: 250px;
            }
            &-300 {
                width: 300px;
                height: 300px;
            }
            &-400 {
                width: 400px;
                height: 400px;
            }
            &-fc {
                width: fit-content;
                height: fit-content;
            }
            &-auto {
                width: auto;
                height: auto;
            }
            &-min {
                &-100 {
                    min-width: 100px;
                    min-height: 100px;
                }
                &-200 {
                    min-width: 200px;
                    min-height: 200px;
                }
                &-300 {
                    min-width: 300px;
                    min-height: 300px;
                }
                &-400 {
                    min-width: 400px;
                    min-height: 400px;
                }
            }
            &-max {
                &-100 {
                    max-width: 100px;
                    max-height: 100px;
                }
                &-200 {
                    max-width: 200px;
                    max-height: 200px;
                }
                &-300 {
                    max-width: 300px;
                    max-height: 300px;
                }
                &-400 {
                    max-width: 400px;
                    max-height: 400px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .w-md {
        &-fc {
            width: fit-content;
        }
        &-auto {
            width: auto;
        }
        &-min {
            &-50vw {
                min-width: 50vw;
            }
            &-100 {
                min-width: 100px;
            }
            &-200 {
                min-width: 200px;
            }
            &-300 {
                min-width: 300px;
            }
            &-400 {
                min-width: 400px;
            }
        }
        &-max {
            &-50vw {
                max-width: 50vw;
            }
            &-100 {
                max-width: 100px;
            }
            &-200 {
                max-width: 200px;
            }
            &-300 {
                max-width: 300px;
            }
            &-400 {
                max-width: 400px;
            }
            &-500 {
                max-width: 500px;
            }
        }
    }
    .wh {
        &-md {
            &-50 {
                width: 50px;
                height: 50px;
            }
            &-100 {
                width: 100px;
                height: 100px;
            }
            &-150 {
                width: 150px;
                height: 150px;
            }
            &-200 {
                width: 200px;
                height: 200px;
            }
            &-250 {
                width: 250px;
                height: 250px;
            }
            &-300 {
                width: 300px;
                height: 300px;
            }
            &-400 {
                width: 400px;
                height: 400px;
            }
            &-fc {
                width: fit-content;
                height: fit-content;
            }
            &-auto {
                width: auto;
                height: auto;
            }
            &-min {
                &-100 {
                    min-width: 100px;
                    min-height: 100px;
                }
                &-200 {
                    min-width: 200px;
                    min-height: 200px;
                }
                &-300 {
                    min-width: 300px;
                    min-height: 300px;
                }
                &-400 {
                    min-width: 400px;
                    min-height: 400px;
                }
            }
            &-max {
                &-100 {
                    max-width: 100px;
                    max-height: 100px;
                }
                &-200 {
                    max-width: 200px;
                    max-height: 200px;
                }
                &-300 {
                    max-width: 300px;
                    max-height: 300px;
                }
                &-400 {
                    max-width: 400px;
                    max-height: 400px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .w-lg {
        &-fc {
            width: fit-content;
        }
        &-auto {
            width: auto;
        }
        &-min {
            &-50vw {
                min-width: 50vw;
            }
            &-100 {
                min-width: 100px;
            }
            &-200 {
                min-width: 200px;
            }
            &-300 {
                min-width: 300px;
            }
            &-400 {
                min-width: 400px;
            }
        }
        &-max {
            &-50vw {
                max-width: 50vw;
            }
            &-100 {
                max-width: 100px;
            }
            &-200 {
                max-width: 200px;
            }
            &-300 {
                max-width: 300px;
            }
            &-400 {
                max-width: 400px;
            }
            &-500 {
                max-width: 500px;
            }
        }
    }
    .wh {
        &-lg {
            &-50 {
                width: 50px;
                height: 50px;
            }
            &-100 {
                width: 100px;
                height: 100px;
            }
            &-150 {
                width: 150px;
                height: 150px;
            }
            &-200 {
                width: 200px;
                height: 200px;
            }
            &-250 {
                width: 250px;
                height: 250px;
            }
            &-300 {
                width: 300px;
                height: 300px;
            }
            &-400 {
                width: 400px;
                height: 400px;
            }
            &-fc {
                width: fit-content;
                height: fit-content;
            }
            &-auto {
                width: auto;
                height: auto;
            }
            &-min {
                &-100 {
                    min-width: 100px;
                    min-height: 100px;
                }
                &-200 {
                    min-width: 200px;
                    min-height: 200px;
                }
                &-300 {
                    min-width: 300px;
                    min-height: 300px;
                }
                &-400 {
                    min-width: 400px;
                    min-height: 400px;
                }
            }
            &-max {
                &-100 {
                    max-width: 100px;
                    max-height: 100px;
                }
                &-200 {
                    max-width: 200px;
                    max-height: 200px;
                }
                &-300 {
                    max-width: 300px;
                    max-height: 300px;
                }
                &-400 {
                    max-width: 400px;
                    max-height: 400px;
                }
            }
        }
    }
}

.img {
    &-blur {
        &-xs { filter: blur(1px); }
        &-sm { filter: blur(2px); }
        &-md { filter: blur(4px); }
        &-lg { filter: blur(6px); }
        &-xl { filter: blur(10px); }
    }
    &-gray {
        &-10 { filter: grayscale(10%); }
        &-20 { filter: grayscale(20%); }
        &-30 { filter: grayscale(30%); }
        &-40 { filter: grayscale(40%); }
        &-50 { filter: grayscale(50%); }
        &-60 { filter: grayscale(60%); }
        &-70 { filter: grayscale(70%); }
        &-80 { filter: grayscale(80%); }
        &-90 { filter: grayscale(90%); }
        &-100 { filter: grayscale(100%); }
    }
    &-contrast {
        &-0 { filter: contrast(0); }
        &-1 { filter: contrast(1); }
        &-50 { filter: contrast(50%); }
        &-100 { filter: contrast(100%); }
        &-200 { filter: contrast(200%); }
    }
    &-shadow {
        &-xs {
            &-al { filter: drop-shadow(0px 0px 1px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 1px $shadow); }
            &-br { filter: drop-shadow(8px 8px 1px $shadow); }
        }
        &-sm {
            &-al { filter: drop-shadow(0px 0px 3px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 3px $shadow); }
            &-br { filter: drop-shadow(8px 8px 3px $shadow); }
        }
        &-md {
            &-al { filter: drop-shadow(0px 0px 4px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 4px $shadow); }
            &-br { filter: drop-shadow(8px 8px 4px $shadow); }
        }
        &-lg {
            &-al { filter: drop-shadow(0px 0px 7px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 7px $shadow); }
            &-br { filter: drop-shadow(8px 8px 7px $shadow); }
        }
        &-xl {
            &-al { filter: drop-shadow(0px 0px 10px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 10px $shadow); }
            &-br { filter: drop-shadow(8px 8px 10px $shadow); }
        }
    }
}

.price::before {
    content: '₹';
}

.price-mrp::before {
    content: 'Mrp ₹';
}

.discount {
    &-mp {
        color: #c54451;
        font-weight: bold;
        &::before { content: '-'; }
        &::after { content: '%'; }
    }
    &-db {
        color: #c54451;
        font-weight: bold;
        &::before { content: '(Get '; }
        &::after { content: '% Instant Discount)'; }
    }
    &-ob {
        color: #dc3545;
        font-weight: bold;
        &::before { content: '('; }
        &::after { content: ' % OFF)'; }
    }
}


.rate::after {
    content: '%';
}

.before {
    &-red {
        &-box::before {
            content: "-";
            border-radius: 0.25rem;
            margin-right: 0.5rem;
            color: $brand-primary;
            background-color: $brand-primary;
        }
    }
}

.shadow-on-hover {
    transition: all 0.5s ease-in-out;
    &:hover {
        box-shadow: 0 0.5rem 1rem #00000026 !important;
    }
}

.line {
    &-1 {
        line-height: 1.2rem;
        max-height: 1.2rem;
        overflow: hidden;
    }
    &-2 {
        line-height: 1.2rem;
        max-height: 2.4rem;
        overflow: hidden;
    }
}

@media (min-width: 375px) {
    .d-ms-block {
        display: inline-block !important;
    }
}


.max-line-1 {
    line-height: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
}

.max-line-2 {
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
}

.max-line-2-base {
    line-height: 1.6rem;
    max-height: 3.2rem;
    overflow: hidden;
}

.smaller {
    font-size: 0.75rem;
}

.smallest {
    font-size: 0.6rem;
}

.smallest-more {
    font-size: 0.55rem;
}

.mb-1h {
    margin-bottom: 0.125rem;
}

.bg-red-text-white-on-hover:hover {
    color: white !important;
    background-color: red !important;
}

.mini-scrollbar {
    scrollbar-width: thin !important;
}

.text-clip {
    // The text-overflow property doesn't force an overflow to occur.
    // To make text overflow its container you have to set other CSS properties: overflow and white-space
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.text-nowarp {
    white-space: nowrap;
}

.td {
    &-none { text-decoration: none !important; }
    &-underline { text-decoration: underline !important; }
    &-cross { text-decoration: line-through !important; }
    &-over { text-decoration: overline !important; }
}

.bf-hidden {
    backface-visibility: hidden;
}

.pointer {
    cursor: pointer;
}

.fw {
    &-100 { font-weight: 100 }
    &-200 { font-weight: 200 }
    &-300 { font-weight: 300 }
    &-400 { font-weight: 400 }
    &-500 { font-weight: 500 }
    &-600 { font-weight: 600 }
    &-700 { font-weight: 700 }
    &-800 { font-weight: 800 }
    &-900 { font-weight: 900 }
}

.max-line-1.fs-5 {
    line-height: 1.2rem;
    max-height: 1.2rem;
    overflow: hidden;
    white-space: inherit;
}

.zoom-on-hover {
    color: #fff;
    transition: all 0.5s ease-in-out;

    &:hover {
        color: red !important;
        transform: scale(1.2);
    }
}

.show-icon-on-hover i {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.show-icon-on-hover:hover i {
    visibility: visible;
    opacity: 1;
}


.shadow {
    &-top {
        box-shadow: 0px -0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    &-bottom {
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.bg-grey-light {
    background-color: #eaeaea;
}

.bg-grey {
    background-color: #00000020;
}

.bg-grey-dark {
    background-color: #00000030;
}

.text-grey-light {
    color: #eaeaea;
}

.text-grey {
    color: #c6c6c6;
}

.text-grey-dark {
    color: #a4a4a4;
}

.form-control.inline {
    padding: 0px 0.25rem;
    font-size: 0.9rem;
    border-radius: 0px;
    border-width: 0px;
    background-color: #00000010;
}



.zi {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-8 { z-index: 8; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-1k { z-index: 1000; }
    &-2k { z-index: 2000; }
}


.fw-strong {
    font-weight: 500;
}

.img {
    &-blur {
        &-xs { filter: blur(1px); }
        &-sm { filter: blur(2px); }
        &-md { filter: blur(4px); }
        &-lg { filter: blur(6px); }
        &-xl { filter: blur(10px); }
    }
    &-gray {
        &-10 { filter: grayscale(10%); }
        &-20 { filter: grayscale(20%); }
        &-30 { filter: grayscale(30%); }
        &-40 { filter: grayscale(40%); }
        &-50 { filter: grayscale(50%); }
        &-60 { filter: grayscale(60%); }
        &-70 { filter: grayscale(70%); }
        &-80 { filter: grayscale(80%); }
        &-90 { filter: grayscale(90%); }
        &-100 { filter: grayscale(100%); }
    }
    &-contrast {
        &-0 { filter: contrast(0); }
        &-1 { filter: contrast(1); }
        &-50 { filter: contrast(50%); }
        &-100 { filter: contrast(100%); }
        &-200 { filter: contrast(200%); }
    }
    &-shadow {
        &-xs {
            &-al { filter: drop-shadow(0px 0px 1px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 1px $shadow); }
            &-br { filter: drop-shadow(8px 8px 1px $shadow); }
        }
        &-sm {
            &-al { filter: drop-shadow(0px 0px 3px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 3px $shadow); }
            &-br { filter: drop-shadow(8px 8px 3px $shadow); }
        }
        &-md {
            &-al { filter: drop-shadow(0px 0px 4px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 4px $shadow); }
            &-br { filter: drop-shadow(8px 8px 4px $shadow); }
        }
        &-lg {
            &-al { filter: drop-shadow(0px 0px 7px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 7px $shadow); }
            &-br { filter: drop-shadow(8px 8px 7px $shadow); }
        }
        &-xl {
            &-al { filter: drop-shadow(0px 0px 10px $shadow); }
            &-tl { filter: drop-shadow(-8px -8px 10px $shadow); }
            &-br { filter: drop-shadow(8px 8px 10px $shadow); }
        }
    }
}

.price::before {
    content: '₹';
}

.price-mrp::before {
    content: 'Mrp ₹';
}

.discount {
    &-mp {
        color: #c54451;
        font-weight: bold;
        &::before { content: '-'; }
        &::after { content: '%'; }
    }
    &-db {
        color: #c54451;
        font-weight: bold;
        &::before { content: '(Get '; }
        &::after { content: '% Instant Discount)'; }
    }
    &-ob {
        color: #dc3545;
        font-weight: bold;
        &::before { content: '('; }
        &::after { content: ' % OFF)'; }
    }
}

.rate::after {
    content: '%';
}

.line {
    &-1 {
        line-height: 1.2rem;
        max-height: 1.2rem;
        overflow: hidden;
    }
    &-2 {
        line-height: 1.2rem;
        max-height: 2.4rem;
        overflow: hidden;
    }
}



.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right-white {
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid rgb(255, 255, 255);
  }

  .arrow-right-brand {
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid rgb(17, 98, 4);
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }

  .mb-footer {
    margin-bottom: 80px !important;
  }

  .untext {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Standard syntax */
  }

.bg-darker {
    background-color: #1e1807 !important;
}

.nowrap {
    white-space: nowrap !important;
}

.td-none {
    text-decoration: none !important;
}
